@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap') repeat scroll 0 0 rgba(0, 0, 0 , 0);

body {
  background: #fff;
}

.title {
  font-size: 5.6rem;
  font-family: 'Lobster', cursive;
}

.wrapper {
  background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRZTuH3ciKG7C4im16CPjjwL9JS-4Bj1fE6Dg&usqp=CAU");
  color: #eee;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 1000px;
  perspective-origin: 50% 50%;
  animation: animation 300s linear infinite;
}
.center h3{
    margin: 1em 0 0.5em 0;
    color: #343434;
    font-weight: normal;
    font-family: 'Aclonica';
    font-size: 36px;
    line-height: 42px;
    text-transform: uppercase;
    text-shadow: 0 2px white, 0 3px #777;
  }

@keyframes animation {
   100%{
    background-position:0px -2000px;
  }
}
